.place__paragraph {
    margin: 0px;
}

.place__paragraph:last-child {
    margin-top: 24px;
}

@media screen and (max-width: 767px) {
    .place__paragraph {
        padding-left: 16px;
        padding-right: 16px;
    }
    
}