@import url(../styles/normalize.css);
/* @font-face {
    src: url('../styles/Inter-3.15/Inter-Desktop/Inter-Regular.otf');
    font-family: 'Inter';
} 

@font-face {
    src: url('../styles/Inter-3.15/Inter-Desktop/Inter-Bold.otf');
    font-family: 'Inter';
    font-weight: bold;
}  */

@import url(./body.css);