.header__container {
    /* width: calc(100% - 48px - 48px); */
    /* margin: auto; */
    height: 52px;
<<<<<<< HEAD
    width: 1182px;
=======
    /* width: 1184px; */
    width: 95%;
>>>>>>> ea4655c49dab1a91c2e5f4878d0327f84905eddf
    margin-top: 28px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: auto;
    margin-right: auto;
    /* opacity: 0.24; */
}

<<<<<<< HEAD
/* @media screen and (max-width: 320px) {
=======
/* @media screen and (max-width: 1279px) {
    .header__container {
        height: 52px;
        width: 928px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
} */


/* 
@media screen and (max-width: 320px) {
>>>>>>> ea4655c49dab1a91c2e5f4878d0327f84905eddf
    .header__container {
        width: 288px;
        height: 42px;
        margin-top: 28px;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-left: auto;
        margin-right: auto
    }
} */